<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    
        <%- include('./partials/nav.ejs') %> 
   
  <div class="details contain">
    <h2><%=  blog.title %> </h2>
    <div class="flexx">
        <p><%= blog.body %> </p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a data-doc="<%- blog._id %>" style="color:red">delete</a>
    </div>
    
  </div>
   <%- include('./partials/footer.ejs')  %> 
</body>
</html>